body {
    background: #f6f5ef;
    margin: 0;
    height: 150vh;
}

nav{
    height: 20vh;
    background: #f6f5ef;
}
img#starbucksIcon{
    position: absolute;
    left: 10%;
    top: 5%;
}
.containerNavText{
    position: absolute;
    top: 13%;
    right: 10%;
    margin-left: 10%;
}
#underline{
    width: 0;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007042;
    transition: 0.5s;
}
.containerNavText a{
    color: #49434d;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    margin-left: 2em;
}

section {
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg) fixed no-repeat;
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
    background-size: 100%;
    animation: coloringEffect 2s ease-out;
}

h1, h2, p{
    z-index: 1;
    left: 10%;
    letter-spacing: .12em;
    line-height: 1.5em;
    filter: drop-shadow(.5rem .5rem .5rem #000);
}

h1{
    width: 256px;
    margin: 0px;
    position: absolute;
    top: 5%;
    color: #fff;
    font-size: 5rem;
    font-family: Helvetica, sans-serif;
    animation: slideInLeft 2s ease-out;
}

h2{
    position: absolute;
    top: 50%;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
    animation: slideInLeft 3s ease-out;
}

p{
    position: absolute;
    top: 55%;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Times New Roman', Times, serif;
    animation: slideInLeft 4s ease-out;
}
b{
    color: rgba(255, 255, 255, 0.5);
}

img#starbucksItem{
    position: absolute;
    right: 10%;
    top: 5%;
    animation: slideInRight 2s ease-out;
}


/* animation */
@keyframes slideInLeft {
    from {
        left: -100px;
        opacity: 0;
    }
    to{
        left: 10%;
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from{
        left: 10%;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        right: -100px;
        opacity: 0;
    }
    to{
        right: 10%;
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from{
        right: 10%;
        opacity: 1;
    }
    to{
        right: -100px;
        opacity: 0;
    }
}

@keyframes coloringEffect {
    from{
        filter: grayscale(100%);
    }
    to{
        filter: none;
    }
}